@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font-face.css);

.root {
    font-family: 'Roboto', Arial, sans-serif;
    background: #16151f;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    hyphens: auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    p {
        margin: 0;
        padding: 0;
    }
}

.header {
    width: 100%vw;
    padding: 10px 50px;
    position: relative;
    .header__bg {
        background-color: #16151f;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
    }
    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button {
            width: 139px;
            height: 54px;
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
 
            &:hover {
                border: 1px solid rgb(54, 54, 54);
                box-sizing: border-box;
                border-radius: 30px;
                transition: 0.2s;
            }
            &:active {
                opacity: 0.5;
                transition: 0.3s;
            }
        }
        .button__back {
            background: none;
            background-image: url('/images/back.png');
            background-size: contain;
        }
        .button__home {
            background: none;
            background-image: url('/images/home.png');
            background-size: contain;
        }
        .wallet {
            display: flex;
            .wallet__container {
                display: flex;
                justify-content: space-between;
                margin-right: 40px;
                .wallet__img {
                    width: 69px;
                    height: 69px;
                }
                .wallet__cash {
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 20px;
                    justify-content: center;
                    .wallet__cash-sum {
                        margin: 0 0 5px 0;
                        font-family: Leksa Sans;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 1.22;
                        color: #FFFFFF;
                    }
                    .wallet__cash-discription {
                        margin: 0;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 1.2;
                        color: #B9B7EA;
                    }
                }
                .wallet__buy {
                    width: 72px;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.5;
                        transition: 0.3s;
                    }
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

.price {
    width: 72%;
    padding-top: 20px;
    margin: 0 auto;
    .price__radio {
        display: none;
    }
    .price__label {
        display: inline-block;
        padding: 14px 30px;
        margin: 0 10px 0 0;
        text-align: center;
        background: #212031;
        border-bottom: 3px solid #212031;
        font-family: Leksa Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.25;
        color: rgba(151, 148, 198, 0.5);
        cursor: pointer;
        border-radius: 10px 10px 0 0;
        &:last-of-type {
            margin: 0;
        }
        &:hover {
            color: rgba(187, 184, 236, 0.5);
        }
    }
    .price__content {
        display: none;
        padding: 12px;
        background: rgba(39, 38, 55);
        font-family: Leksa Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
        border-radius: 0 10px 10px 10px;
    }
    .price__radio:checked + .price__label {
        color: #FFFFFF;
        background: rgba(39, 38, 55);
        box-sizing: content-box;
        border-bottom: 3px solid transparent;
        border-image: linear-gradient(90deg, #F52CBF 0%, #FF7C46 100%);
        border-image-slice: 1;
    }
    #tab_1:checked ~ #txt_1,
    #tab_2:checked ~ #txt_2,
    #tab_3:checked ~ #txt_3,
    #tab_4:checked ~ #txt_4,
    #tab_5:checked ~ #txt_5 { display: block; }
    
    .price__content {
        .price__title {
            margin: 24px 0;
            padding: 0;
            font-family: Leksa Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 1.22;
            text-align: center;
            color: #FFFFFF;
        }
        .price__items {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: (3, 1fr);
            grid-gap: 0px 10px;
            align-items: center;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            justify-content: space-between;
            .item {
                position: relative;
                height: 320px;
                width: 225px;
                background-image: url(/images/shop__item.png);
                background-repeat: no-repeat;
                background-position: center;
                box-sizing: border-box;
                background-size: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                .item__promo {
                    position: absolute;
                    top: 1px;
                    left: 4px;
                }
                .item__image {
                    width: 110px;
                    margin-top: 25px;
                }
                .item__image_one {
                    width: 137px;
                    margin: 42px 0 15px 0;
                }
                .item__cost {
                    display: flex;
                    flex-direction: column;
                    .item__cost-sum {
                        margin: 8px 0 0 0;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 120%;
                        text-align: center;
                        color: #FFFFFF;
                    }
                    .item__cost-description {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 1.6;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
                .item__button {
                    margin-top: 27px;
                    width: 155px;
                    height: 47px;
                    background: linear-gradient(90deg, #682FBD, #CB4CBC);
                    position: relative;
                    border: 1px solid transparent;
                    border-radius: 146px;
                    background-clip: padding-box;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    &:hover {
                        opacity: 0.7;
                    }
                    &:active {
                        background: linear-gradient(90deg, #550cc4, #c217ae);
                    }
                }
                .item__button::after {
                    position: absolute;
                    width: 149px;
                    height: 41px;
                    top: 3px; bottom: 3px;
                    left: 3px; right: 3px;
                    background: linear-gradient(90deg, #242333 0%, #3C3B53 100%);
                    content: '';
                    z-index: -1;
                    border-radius: 146px;
                }
                .item__container {
                    display: flex;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 1.14;
                    .item__buy {
                        color: #FFFFFF;
                        margin-right: 20px;
                    }
                    span {
                        color: #21CC14;
                        margin-right: 3px;
                    }
                    .item__cost {
                        color: #FFFFFF;
                    }
                }


            }
        }


    }
    
}



@media screen and (max-width: 3300px) {
    .price {
        .price__content {
            .price__items {
                grid-template-columns: repeat(9, 1fr);
            }
        }
    }
}

@media screen and (max-width: 2960px) {
    .price {
        .price__content {
            .price__items {
                grid-template-columns: repeat(8, 1fr);
            }
        }
    }
}

@media screen and (max-width: 2640px) {
    .price {
        .price__content {
            .price__items {
                grid-template-columns: repeat(7, 1fr);
            }
        }
    }
}

@media screen and (max-width: 2310px) {
    .price {
        .price__content {
            .price__items {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}

@media screen and (max-width: 2040px) {
    .price {
        .price__content {
            .price__items {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}

@media screen and (max-width: 1660px) {
    .price {
        .price__content {
            .price__items {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    .price {
        .price__label {
            padding: 8px 16px;
            margin: 0 8px 0 0;
            font-size: 16px;
        }
        .price__content {
            .price__items {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (max-width: 1020px) {
    .header {
        padding: 0 20px;
        .header__nav {
            margin-top: 10px;
            .button {
                width: 104px;
                height: 40px;
            }
            .wallet {
                .wallet__container {
                    margin-right: 10px;
                    align-items: center;
                    .wallet__img {
                        width: 52px;
                        height: 52px;
                    }
                    .wallet__cash {
                        margin: 0 0 0 10px;
                        .wallet__cash-sum {
                            margin: 10px 0 0 0;
                        }
                        .wallet__cash-discription {
                            visibility: hidden;
                        }
                    }
                    .wallet__buy {
                        width: 54px;
                    }
                }
            }
        }
    }
    .price {
        .price__label {
            padding: 5px 10px;
            margin: 0 -4px 0 0;
            font-size: 14px;
            &:last-of-type {
                margin: 0 -4px 0 0;
            }
        }
        
        .price__content {
            .price__items {
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 0px 5px;

                .item {
                    height: 224px;
                    width: 158px;
                    background-size: cover;
                    .item__promo {
                        position: absolute;
                        top: 6px;
                        left: 7px;
                        width: 70px;
                    }
                    .item__image {
                        width: 93px;
                        margin-top: 15px;
                    }
                    .item__image_one {
                        width: 100px;
                        margin: 37px 0 13px 0;
                    }
                    .item__cost {
                        .item__cost-sum {
                            margin: 0;
                            font-size: 20px;
                            line-height: 1;
                        }
                        .item__cost-description {
                            font-size: 10px;
                            line-height: 1.2;
                        }
                    }
                    .item__button {
                        margin-top: 19px;
                        width: 98px;
                        height: 28px;
                    }
                    .item__button::after {
                        visibility: hidden;
                    }
                    .item__container {
                        font-size: 11px;
                        line-height: 1.18;
                        .item__buy {
                            margin-right: 10px;
                        }
                        span {
                            margin-right: 1px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .price {
        .price__content {
            .price__items {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .price {
        width: 80%;
        .price__content {
            .price__items {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .price {
        width: 84%;
        padding-top: 0;
        margin-top: -3px;
        .price__label {
            padding: 5px 5px;
            margin: 0 0 0 -4px;
            text-align: center;
            background: #212031;
            border-bottom: 3px solid #212031;
            font-size: 16px;
            line-height: 1;
            color: #9794C6;
            border-radius: 0;
            &:last-of-type {
                margin: -4px 0 0 -4px;
            }
        }


        .price__content {
            margin-top: 10px;
            .price__items {
                grid-template-columns: repeat(3, 2fr);
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .header {
        padding: 0 5px;
        background-color: #242332;
        .header__bg {
            display: none;
        }
        .header__nav {
            margin-top: 0;
            .button {
                width: 40px;
                height: 40px;
            }
            .button__back {
                background-image: url('/images/back__mobile.png');
                background-repeat: no-repeat;
            }
            .button__home {
                background-image: url('/images/home__mobile.png');
                background-repeat: no-repeat;
            }
            .wallet {
                .wallet__container {
                    margin-right: 0;
                    .wallet__img {
                        width: 38px;
                        height: 38px;
                    }
                    .wallet__cash {
                        margin: 0 0 0 3px;
                        .wallet__cash-sum {
                            font-size: 13px;
                            line-height: 1.25;
                        }
                    }
                    .wallet__buy {
                        width: 43px;
                    }

                }
            }
        }
    }
    .price {
        width: 90%;
    }
}

@media screen and (max-width: 580px) {
    .price {
        width: 70%;
        .price__label {
            font-size: 12px;
        }
        .price__content {
            .price__title {
                display: none;
            }
            .price__items {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (max-width: 532px) {
    .price {
        width: 77%;
    }
}

@media screen and (max-width: 484px) {
    .price {
        width: 82%;
    }
}

@media screen and (max-width: 456px) {
    .price {
        width: 87%;
        .price__content {
            padding: 10px 10px 10px 20px;
        }
    }
}

@media screen and (max-width: 430px) {
    .price {
        width: 95%;
        .price__content {
            padding: 10px 10px 10px 20px;
        }
    }
}

@media screen and (max-width: 392px) {
    .price {
        width: 95%;
        .price__label {
            font-size: 10px;
        }
        .price__content {
            padding: 10px 0;
        }
    }
}